.container{
    display: flex;
    margin: 20px 0;
}

.container__image{
    position: relative;
    width: 150px;
}

.container__info{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container__image:hover .image__owner{
        opacity: 1;
}

img{
    max-width: 100%;
}

.image__owner{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    transition: all .3s ease;
}

.image__coffee, .image__owner{
    object-fit: contain;
}
.name{
    font-weight: bold;
}
.owner{
    font-size: 1.4rem;
    font-weight: normal;
}

.price, .name, .rating, .star{
    padding: 0;
    margin: 0;
    /* line-height: 0; */
}

button{
    text-transform: uppercase;
    height: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    padding: 1.3rem 2rem !important;
}

.star{
    font-size: 1.3rem;
}
.rating{
    display: flex;

}